services:
  app:
    build: .
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - app-net

  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: inventario
      MYSQL_ROOT_PASSWORD: r123456
      MYSQL_USER: inventario
      MYSQL_PASSWORD: r123456
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-net

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    depends_on:
      - app
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./:/var/www
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  dbdata:
    driver: local
